<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/create">Create students</a></li>
    </ul>
    <div class="form">
        <form action="/create-students" method="POST">
            <fieldset>
                <legend>Form add new students</legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" id="emailId">
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="myname" id="name">
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city">
                </div>
                <div class="input-group">
                    <button type="submit" class="submit-btn">Add students</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>
